<ion-header>
  <ion-toolbar color="primary">
    <ion-title align="center" color="secondary"><b>Emapp</b></ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/aboutimg.png" alt="aboutimg" width="340" />
  <h1 class="ion-padding">Make your life easy with <b>Emapp</b>.</h1>
  <p class="opis">
    With <b> Emapp</b>, it's easy to get list of all employees in the company -
    on your mobile or your tablet device.
  </p>
  <p class="opis">
    Whether you're behind the wheel, working out, partying or relaxing, it's
    always easy to get list of the employees only by using your fingertips. You
    can also use the dark mode if you don't like the light mode very much, suite
    yourself. <br />
  </p>
  <h4 class="ion-padding">
    <b> There are millions of apps that do the same, but they are not Emapp.</b>
  </h4>
  <p class="opis">
    Running a business is hard and at times overwhelming. That's why we created
    Connecteam, so businesses can easily communicate, operate and train their
    deskless teams, no matter where they are.
  </p>
  <p class="opis">
    Our mission is to help businesses
    thrive by taking away the daily hustle and complexities of managing teams so
    they can have the peace of mind to grow and run their business.
  </p>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
