<ion-header>
  <ion-toolbar color="primary">
    <ion-title align="center" color="secondary"><b>Emapp</b></ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Dark Mode</ion-label>
    <ion-toggle (ionChange)='toggleTheme($event)' slot="end"></ion-toggle>
  </ion-item>
  <ion-item button routerLink="/about">
    <ion-buttons>
      <ion-button>
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
      <ion-label>About Us</ion-label>
    </ion-buttons>
  </ion-item>
  <ion-item button routerLink="/policy">
    <ion-buttons>
      <ion-button>
        <ion-icon name="shield-half-outline"></ion-icon>
      </ion-button>
      <ion-label>Privacy Policy</ion-label>
    </ion-buttons>
  </ion-item>
  <ion-item button>
    <ion-buttons>
      <ion-button>
        <ion-icon name="cog-outline"></ion-icon>
      </ion-button>
      <ion-label>General Settings</ion-label>
    </ion-buttons>
  </ion-item>
  <ion-item>
    <ion-buttons>
      <ion-button (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </ion-button>
      <ion-label>Logout</ion-label>
    </ion-buttons>
  </ion-item>
  
</ion-content>