ion-avatar{
    height: 130px;
    width: 130px;
    margin: 20px 0px 30px 75px;
}

ion-card{
    width: 280px;
}

ion-content{
    --background: var(--ion-color-primary);
}

ion-item{
    margin-left: 10px;
    margin-right: 10px;
}

ion-button{
    margin-left: 80px;
}
