<ion-header>
  <ion-toolbar color="primary">
    <ion-title align="center" color="secondary"><b>Emapp</b></ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-title>Your employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let employee of employees" (click)="openEmployee(employee)">
      <ion-label>
        {{ employee.name + ' ' + employee.lastName }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addEmployee()" color="tertiary">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
