<ion-header>
  <ion-toolbar color="primary">
    <ion-title align="center" color="secondary"><b>Emapp</b></ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/shields.png" alt="policyimg" width="340" />
  <h1 class="ion-padding"><b> Privacy Notice</b></h1>
  <h5>Last updated: March 4th, 2023</h5>
  <p class="opis">
    This privacy notice for EMAPP, describes how and why we might collect,
    store, use, and/or share ('process') your information when you use our
    services ('Services'), such as when you:
  </p>
  <p class="opis-lista">
    <b>1.</b> Download and use our mobile application (EMAPP - Employee
    Management Application), or any other application of ours that links to this
    privacy notice <br />
    <br />
    <b>2.</b> Engage with us in other related ways, including any sales,
    marketing, or events <br />
  </p>
  <h5><b>Questions or concerns?</b></h5>
  <p class="opis">
    Reading this privacy notice will help you understand your privacy rights and
    choices. If you do not agree with our policies and practices, please do not
    use our Services. If you still have any questions or concerns, please
    contact us at <b>emapp@uk.co</b>.
  </p>
  <h3 class="ion-padding"><b> Summary Of Key Points</b></h3>
  <h5>
    This summary provides key points from our privacy notice, but you can find
    out more details about any of these topics by clicking the link following
    each key point or by using our table of contents below to find the section
    you are looking for.
  </h5>
  <h5><b>What personal information do we process?</b></h5>
  <p class="opis">
    When you visit, use, or navigate our Services, we may process personal
    information depending on how you interact with and the Services, the choices
    you make, and the products and features you use.
  </p>
  <h5><b>Do we process any sensitive personal information?</b></h5>
  <p class="opis">We do not process sensitive personal information.</p>
  <h5><b>How do we process your information?</b></h5>
  <p class="opis">
    We process your information to provide, improve, and administer our
    Services, communicate with you, for security and fraud prevention, and to
    comply with law. We may also process your information for other purposes
    with your consent. We process your information only when we have a valid
    legal reason to do so.
  </p>
  <h5><b>What are your rights?</b></h5>
  <p class="opis">
    Depending on where you are located geographically, the applicable privacy
    law may mean you have certain rights regarding your personal information.
  </p>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar> </ion-toolbar>
</ion-footer>
