img{
    margin: 17px 7px 0px 27px;
}

h5{
    margin-left: 15px;
    margin-bottom: 10px;
}

.opis{
    margin: 15px;
    font-size: 17px;
}

.opis-lista{
    margin-left: 35px;
    margin-right: 10px;
    font-size: 17px;
}